.grid {
    display: inline-grid;
    /* grid-template-columns: 200px 200px; */
    grid-template-rows: 150px 150px;
}

.part1 {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 300px 260px;
    
}

.box1 {
    border: 1px solid red;
    background-color: red;
}

.box2 {
    border: 1px solid black;
    background-color: black;
    margin-left: 5px;
}

.part2 {
    /* border: 1px solid black; */
    margin-top: 10px;
    display: grid;
    grid-template-columns: 260px 300px;
    grid-template-rows: 150px 150px;
}

.boxx1 {
    border: 1px solid purple;
    background-color: purple;
}

.boxs {
    /* border: 1px solid brown; */
    display: grid;
    grid-template-rows: 50px 100px;
    margin-left: 5px;
}

.boxx2 {
    border: 1px solid brown;
    background-color: brown;
    margin-bottom: 5px;
}

.boxx3 {
    border: 1px solid blue;
    background-color: blue;
}

section {
    margin: 10% 20%;
}

