* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.card1, .card2, .card3 {
    width: 30%;
    min-height: 400px;
    /* border: 1px solid red; */
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.head {
    padding-top: 50px;
    margin-left: 20px;
}

.body {
    padding-top: 30px;
    margin-left: 20px;
    width: 70%;
}

.btn1, .btn2, .btn3 {
    margin-top: 100px;
    text-align: center;
}

.btn1 a {
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    color: hsl(31, 77%, 52%);
}
.btn2 a {
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    color: hsl(184, 100%, 22%);
}
.btn3 a {
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    color: hsl(179, 100%, 13%);
}

a:hover {
    background: transparent;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 40px;
}

.card1 {
    background-color: hsl(31, 77%, 52%);
    color: white;
}

.card2 {
    background-color: hsl(184, 100%, 22%);
    color: white;
}

.card3 {
    background-color: hsl(179, 100%, 13%);
    color: white;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
}

.grid {
    margin-top: 50px;
}

.grid a {
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


@media (max-width:769px) {
    .cards {
        flex-direction: column;
        margin: 20px 0;
    }

    .card1, .card2, .card3 {
        width: 100%;
    }

    .grid a {
        width: 100%;
        padding: 1px;
    }
}